.UnloggedCard{
    max-width: 23rem;
    display: flex;
    background-color: #fdfdfd;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 8px;
    color: #421a92;
}
.LoginContainer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}